*, :after, :before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
body, html {
	min-height: 100%;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	margin: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden], script, template {
	display: none
}
a {
	background-color: transparent
}
a:focus {
	outline: thin dotted
}
a:active, a:hover {
	outline: 0
}
a, ins {
	text-decoration: none
}
b, strong {
	font-weight: 700
}
pre {
	white-space: pre-wrap
}
q {
	quotes: "\201C" "\201D" "\2018" "\2019"
}
small {
	font-size: 80%
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -.5em
}
sub {
	bottom: -.25em
}
img {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	border: 0
}
svg:not(:root) {
	overflow: hidden
}
legend {
	border: 0;
	padding: 0
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
button {
	overflow: visible
}
button, input {
	line-height: normal
}
button, select {
	text-transform: none
}
button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}
input[type=checkbox], input[type=radio] {
	cursor: pointer;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
button[disabled], html input[disabled] {
	cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
height:auto
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
-webkit-appearance:none
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical
}
optgroup {
	font-weight: 700
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td, th {
	padding: 0
}
body {
	position: relative;
	background: #fff;
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
	font-weight: 400;
	line-height: 1;
	color: #333;
	font-size: 1em
}
body, button, input, select, textarea {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern"
}

.am-pre-scrollable {
	max-height: 24em;
	overflow-y: scroll
}
fieldset {
	border: none
}
input[type=search] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
input[type=file] {
	display: block
}
select[multiple], select[size] {
	height: auto
}
select optgroup {
	font-size: inherit;
	font-style: inherit;
	font-family: inherit
}
.am-square {
	border-radius: 0
}
.am-round {
	border-radius: 125em
}
.am-circle {
	border-radius: 50%
}
.am-cf:after, .am-cf:before {
	content: " ";
	display: table
}
.am-cf:after {
	clear: both
}
.am-fl {
	float: left
}
.am-fr {
	float: right
}
.am-nbfc {
	overflow: hidden
}
.am-center {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.am-block {
	display: block!important
}
.am-inline {
	display: inline!important
}
.am-inline-block {
	display: inline-block!important
}
.am-hide {
	display: none!important;
	visibility: hidden!important
}
.am-vertical-align {
	font-size: 0
}
.am-vertical-align:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle
}
.am-vertical-align-bottom, .am-vertical-align-middle {
	display: inline-block;
	font-size: 1em;
	max-width: 100%
}
.am-vertical-align-middle {
	vertical-align: middle
}
.am-vertical-align-bottom {
	vertical-align: bottom
}
.am-responsive-width {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	height: auto
}
.am-margin {
	margin: 1em
}
.am-margin-0 {
	margin: 0!important
}
.am-margin-xs {
	margin: .5em
}
.am-margin-sm {
	margin: 1em
}
.am-margin-lg {
	margin: 1.6em
}
.am-margin-xl {
	margin: 2em
}
.am-margin-horizontal {
	margin-left: 1em;
	margin-right: 1em
}
.am-margin-horizontal-0 {
	margin-left: 0!important;
	margin-right: 0!important
}
.am-margin-horizontal-xs {
	margin-left: .5em;
	margin-right: .5em
}
.am-margin-horizontal-sm {
	margin-left: 1em;
	margin-right: 1em
}
.am-margin-horizontal-lg {
	margin-left: 1.6em;
	margin-right: 1.6em
}
.am-margin-horizontal-xl {
	margin-left: 2em;
	margin-right: 2em
}
.am-margin-vertical {
	margin-top: 1em;
	margin-bottom: 1em;
	display: inline-block;
	width: 90%;
}
.am-margin-vertical-0 {
	margin-top: 0!important;
	margin-bottom: 0!important
}
.am-margin-vertical-xs {
	margin-top: .5em;
	margin-bottom: .5em
}
.am-margin-vertical-sm {
	margin-top: 1em;
	margin-bottom: 1em
}
.am-margin-vertical-lg {
	margin-top: 1.6em;
	margin-bottom: 1.6em
}
.am-margin-vertical-xl {
	margin-top: 2em;
	margin-bottom: 2em
}
.am-margin-top {
	margin-top: 1em
}
.am-margin-top-0 {
	margin-top: 0!important
}
.am-margin-top-xs {
	margin-top: .5em
}
.am-margin-top-sm {
	margin-top: 1em
}
.am-margin-top-lg {
	margin-top: 1.6em
}
.am-margin-top-xl {
	margin-top: 2em
}
.am-margin-bottom {
	margin-bottom: 1em
}
.am-margin-bottom-0 {
	margin-bottom: 0!important
}
.am-margin-bottom-xs {
	margin-bottom: .5em;
}
.am-margin-bottom-sm {
	margin-bottom: 1em
}
.am-margin-bottom-lg {
	margin-bottom: 1.6em
}
.am-margin-bottom-xl {
	margin-bottom: 2em
}
.am-margin-left {
	margin-left: 1em
}
.am-margin-left-0 {
	margin-left: 0!important
}
.am-margin-left-xs {
	margin-left: .5em
}
.am-margin-left-sm {
	margin-left: 1em
}
.am-margin-left-lg {
	margin-left: 1.6em
}
.am-margin-left-xl {
	margin-left: 2em
}
.am-margin-right {
	margin-right: 1em
}
.am-margin-right-0 {
	margin-right: 0!important
}
.am-margin-right-xs {
	margin-right: .5em
}
.am-margin-right-sm {
	margin-right: 1em
}
.am-margin-right-lg {
	margin-right: 1.6em
}
.am-margin-right-xl {
	margin-right: 2em
}
.am-padding {
	padding: 1em
}
.am-padding-0 {
	padding: 0!important
}
.am-padding-xs {
	padding: .5em
}
.am-padding-sm {
	padding: 1em
}
.am-padding-lg {
	padding: 1.6em
}
.am-padding-xl {
	padding: 2em
}
.am-padding-horizontal {
	padding-left: 1em;
	padding-right: 1em
}
.am-padding-horizontal-0 {
	padding-left: 0!important;
	padding-right: 0!important
}
.am-padding-horizontal-xs {
	padding-left: .5em;
	padding-right: .5em
}
.am-padding-horizontal-sm {
	padding-left: 0.5em;
	padding-right: 0.5em
}
.am-padding-horizontal-lg {
	padding-left: 1.6em;
	padding-right: 1.6em
}
.am-padding-horizontal-xl {
	padding-left: 2em;
	padding-right: 2em
}
.am-padding-vertical {
	padding-top: 1em;
	padding-bottom: 1em
}
.am-padding-vertical-0 {
	padding-top: 0!important;
	padding-bottom: 0!important
}
.am-padding-vertical-xs {
	padding-top: .5em;
	padding-bottom: .5em
}
.am-padding-vertical-sm {
	padding-top: 1em;
	padding-bottom: 1em
}
.am-padding-vertical-lg {
	padding-top: 1.6em;
	padding-bottom: 1.6em
}
.am-padding-vertical-xl {
	padding-top: 2em;
	padding-bottom: 2em
}
.am-padding-top {
	padding-top: 1em
}
.am-padding-top-0 {
	padding-top: 0!important
}
.am-padding-top-xs {
	padding-top: .5em
}
.am-padding-top-sm {
	padding-top: 1em
}
.am-padding-top-lg {
	padding-top: 1.6em
}
.am-padding-top-xl {
	padding-top: 2em
}
.am-padding-bottom {
	padding-bottom: 1em
}
.am-padding-bottom-0 {
	padding-bottom: 0!important
}
.am-padding-bottom-xs {
	padding-bottom: .5em
}
.am-padding-bottom-sm {
	padding-bottom: 1em
}
.am-padding-bottom-lg {
	padding-bottom: 1.6em
}
.am-padding-bottom-xl {
	padding-bottom: 2em
}
.am-padding-left {
	padding-left: 0.5em
}
.am-padding-left-0 {
	padding-left: 0!important
}
.am-padding-left-xs {
	padding-left: .5em
}
.am-padding-left-sm {
	padding-left: 1em
}
.am-padding-left-lg {
	padding-left: 1.6em
}
.am-padding-left-xl {
	padding-left: 2em
}
.am-padding-right {
	padding-right: 1em
}
.am-padding-right-0 {
	padding-right: 0!important
}
.am-padding-right-xs {
	padding-right: 0.75em
}
.am-padding-right-sm {
	padding-right: 1em
}
.am-padding-right-lg {
	padding-right: 1.6em
}
.am-padding-right-xl {
	padding-right: 2em
}

@media only screen and (orientation:landscape) {
.am-hide-portrait, .am-show-landscape {
	display: inherit!important
}
.am-hide-landscape, .am-show-portrait {
	display: none!important
}
}

@media only screen and (orientation:portrait) {
.am-hide-landscape, .am-show-portrait {
	display: inherit!important
}
.am-hide-portrait, .am-show-landscape {
	display: none!important
}
}
.am-sans-serif {
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif
}
.am-serif {
	font-family: Georgia, "Times New Roman", Times, SimSun, FontAwesome, serif
}
.am-kai {
	font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, FontAwesome, serif
}
.am-monospace {
	font-family: Monaco, Menlo, Consolas, "Courier New", FontAwesome, monospace
}
.am-text-primary {
	color: #0e90d2
}
.am-text-secondary {
	color: #3bb4f2
}
.am-text-success {
	color: #5eb95e
}
.am-text-warning {
	color: #F37B1D
}
.am-text-danger {
	color: #dd514c
}
.am-link-muted {
	color: #666
}
.am-link-muted a {
	color: #666
}
.am-link-muted a:hover, .am-link-muted:hover {
	color: #555
}
.am-text-default {
	font-size: 1em
}
.am-text-xs {
	font-size: 0.875em
}
.am-text-sm {
	font-size: 0.875em
}
.am-text-lg {
	font-size: 1.8em
}
.am-text-xl {
	font-size: 1.6em
}
.am-text-xxl {
	font-size: 2em
}
.am-text-xxxl {
	font-size: 2.8em
}
.am-ellipsis, .am-text-truncate {
	word-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}
.am-text-break {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto
}
.am-text-nowrap {
	white-space: nowrap
}
[class*=am-align-] {
	margin-bottom: 1em
}
.am-align-left {
	margin-right: 1em;
	float: left
}
.am-align-right {
	margin-left: 1em;
	float: right
}

@media only screen {
.am-text-left {
	text-align: left!important
}
.am-text-right {
	text-align: right!important
}
.am-text-center {
	text-align: center!important
}
.am-text-justify {
	text-align: justify!important
}
}

@media only screen and (max-width:640px) {
.am-sm-only-text-left {
	text-align: left!important
}
.am-sm-only-text-right {
	text-align: right!important
}
.am-sm-only-text-center {
	text-align: center!important
}
.am-sm-only-text-justify {
	text-align: justify!important
}
}

@media only screen and (min-width:641px) and (max-width:1024px) {
.am-md-only-text-left {
	text-align: left!important
}
.am-md-only-text-right {
	text-align: right!important
}
.am-md-only-text-center {
	text-align: center!important
}
.am-md-only-text-justify {
	text-align: justify!important
}
}

@media only screen and (min-width:641px) {
.am-md-text-left {
	text-align: left!important
}
.am-md-text-right {
	text-align: right!important
}
.am-md-text-center {
	text-align: center!important
}
.am-md-text-justify {
	text-align: justify!important
}
}

@media only screen and (min-width:1025px) {
.am-lg-text-left {
	text-align: left!important
}
.am-lg-text-right {
	text-align: right!important
}
.am-lg-text-center {
	text-align: center!important
}
.am-lg-text-justify {
	text-align: justify!important
}
}
.am-text-top {
	vertical-align: top!important
}
.am-text-middle {
	vertical-align: middle!important
}
.am-text-bottom {
	vertical-align: bottom!important
}
.am-slider a:focus, .am-slider a:hover {
	outline: 0
}
@media all and (transform-3d), (-webkit-transform-3d) {
	.layui-m-layercont{padding: 0 !important;
}
.am-modal {
	display: block;
	opacity: 1;
	outline: 0;
	text-align: center;
}
.am-modal:focus {
	outline: 0
}
.am-modal.am-modal-active {
	opacity: 1;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	overflow-x: hidden;
	overflow-y: auto
}
.am-modal.am-modal-out {
	opacity: 0;
	z-index: 1109;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transform: scale(.815);
	-ms-transform: scale(.815);
	transform: scale(.815)
}
.am-modal:before {
	content: "\200B";
	display: inline-block;
	height: 100%;
	vertical-align: middle
}
.am-modal-dialog {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	width: 100%;
	border-radius: 0;
	background: #f8f8f8
}

.am-modal-hd {
	padding: 0.875em 0.625em 0.25em 0.625em;
	font-size: 1.8em;
	font-weight: 500
}
.am-modal-hd+.am-modal-bd {
	padding-top: 0
}
.am-modal-hd .am-close {
	position: absolute;
	top: 0.25em;
	right: 0.25em
}
.am-modal-bd {
	padding: 0.875em 0.625em;
	text-align: center;
	border-bottom: 0.0625em solid #dedede;
	border-radius: 0.2em 0.2em 0 0
}
.am-modal-bd+.am-modal-bd {
	margin-top: 0.3em
}
.am-modal-footer-hd {
	padding-bottom: 0.625em;
}