/*全局可调用基础样式*/
.fq-nowrap {
	white-space: nowrap;
}
.fq-text-white {
	color: #FFF;
}
.fq-text-grey {
	color: #8f8f8f;
}
.fq-background-white {
	background-color: #FFF;
}
.fq-background-grey {
	background-color: #8F8F8F;
}
/*ios输入框兼容*/
.am-form input[type=number]:focus, .am-form input[type=search]:focus, .am-form input[type=text]:focus, .am-form input[type=password]:focus, .am-form input[type=datetime]:focus, .am-form input[type=datetime-local]:focus, .am-form input[type=date]:focus, .am-form input[type=month]:focus, .am-form input[type=time]:focus, .am-form input[type=week]:focus, .am-form input[type=email]:focus, .am-form input[type=url]:focus, .am-form input[type=tel]:focus, .am-form input[type=color]:focus, .am-form select:focus, .am-form textarea:focus, .am-form-field:focus {
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .075) inset, 0 0 0 rgba(0, 0, 0, .3);
	box-shadow: 0 0 0 rgba(0, 0, 0, .075) inset, 0 0 0 rgba(0, 0, 0, .3);
}

#js_bg_setting {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
}
.js_item img {
	border-radius: 0.3em;
}
#js_online_num img {
	float: left;
}
.fq-broadcast {
}
.fq-color-red {
	color: #fc2e59;
}
.fq-color-black {
	color: #1b1b1b;
}
.fq-color-glay {
	color: #777;
}
.fq-color-orange {
	color: #fc9625;
}
.fq-colo-green {
	color: #21b111;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
.fq-online {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	height: 2.6em;
	background: #fff;
	box-shadow: 0 0.125em 0.3em rgba(51,9,20,.1);
	-webkit-box-shadow: 0 0.125em 0.3em rgba(51,9,20,.1);
	border-radius: 1.25em;
	margin: 0 auto;
	width: 90%;
}
.fq-online-img {
	width: calc(100% - 6em);
	height: 2em;
}
#js_user_headimg {
	overflow: hidden;
	height: 100%;
}
#js_main {
	z-index: 100;
	padding-bottom: 4em;
	padding-top: 4em;
	transition-property: transform;
	transform-origin: 0 0 0;
}
.fq-online-img img {
	width: 2.2em;
	height: 2.2em;
	border: 0.0625em solid rgba(0,0,0,.1);
	box-shadow: 0 0.125em 0.3em rgba(51,9,20,.1);
	-webkit-box-shadow: 0 0.125em 0.3em rgba(51,9,20,.1);
	margin-left: .2rem;
}
.fq-online-num {
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	right: .5rem;
	min-width: 4em;
	line-height: 2.5em;
	height: 2.5em;
}
.fq-online-num .icon-yanjing {
	color: #fc9625;
}
.fq-online-person {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	background: white;
	line-height: 1;
	z-index: 100;
	padding: 0 0 0 0.5em;
}
.fq-online-loading {
	position: absolute;
	width: 100%;
}
.fq-online-loading span {
	display: inline-flex;
	background: rgba(88,88,88,.6);
}
.fq-online-update {
	position: fixed;
	bottom: 6em;
	right: 0;
	z-index: 100;
	background: white;
	border-top-left-radius: 125em;
	border-bottom-left-radius: 125em;
	box-shadow: 0 0.125em 0.3em rgba(0,0,0,.12);
	-webkit-box-shadow: 0 0.125em 0.3em rgba(0,0,0,.12);
}
.fq-online-person img {
	width: 2em;
	height: 2em;
	border: 0.0625em solid rgba(0,0,0,.1);
}
.fq-goods-time span {
	background: rgba(196,196,196,.9);
	border-radius: 0.25em;
	padding-top: 0.125em;
	padding-bottom: 0.125em;
}
.fq-online-moderator img {
	width: 2.5em;
	height: 2.5em;
	box-shadow: 0 0.125em 0.3em rgba(0,0,0,.12);
	-webkit-box-shadow: 0 0.125em 0.3em rgba(0,0,0,.12);
}
.fq-goods-img img {
	width: 8em;
	height: 8em;
	box-shadow: 0 0.125em 0.3em rgba(0,0,0,.12);
	-webkit-box-shadow: 0 0.125em 0.3em rgba(0,0,0,.12);
	border-radius: 0.3em;
}
.fq-goods-massage {
	position: relative;
	width: 80%;
	border-radius: 0.25em;
	box-shadow: 0 0.125em 0.3em rgba(0,0,0,.12);
	-webkit-box-shadow: 0 0.125em 0.3em rgba(0,0,0,.12);
	border-width: 0.5em;
}
.border_triangle {
	position: absolute;
	top: 0.625em;
	left: -1.25em;
	border-width: 0.625em;
	border-color: transparent #f5f5f5 transparent transparent;
	border-style: dotted solid dotted dotted;
	margin-right: 0;
}
.fq-goods-postage {
	border: 0.0625em solid #fc2e59;
}
.fq-copy-password {
	border: none;
	background: linear-gradient(to right, #fc9625, #fc2e59);
	color: white;
	border-radius: 0.25em;
	height: 2em;
	padding: 0 0.5em; 
}
.fq-explain {
	margin-top: -2.75em;
	right: 16%;
	left: 0;
}
.fq-amoy-buy {
	border-radius: 0.25em;
}
.fq-amoy-buy .am-modal-dialog {
	border-radius: 0.25em;
}
.fq-amoy-buy .am-modal-hd {
	padding: 0.625em;
	background: linear-gradient(to right, #fc9625, #fc2e59);
	border-radius: 0.25em 0.25em 0 0;
	color: white;
	font-size: 1.25em;
}
.fq-goods-border {
	border: .1em #f54d23 dashed;
}
#copy_key_ios{
	margin-top: 1em;
	display: block;
}
.fq-nowrap {
	background: #f54d23;
	font-size: 1em;
}
.copy_taowords a {
	background: #f54d23;
	color: white;
}
.fq-instructions {
	background: #fff;
	border-radius: 0 0 0.3em 0.3em;
	color: #86564B;
}
.fq-online-buy {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 2.3em;
	background: #f9f9f9;
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}
.fq-comment {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3em;
	z-index: 100;
	background: #fff;
}
.fq-comment-send {
	display: flex;
	justify-content: space-between;
	width: calc(100% - 1em);
}
.fq-comment input[type="text"] {
	width: 100%;
	-moz-box-shadow: 0 0.1em 0.4em rgba(51,9,3,.2);
	-webkit-box-shadow: 0 0.1em 0.4em rgba(51,9,3,.2);
	box-shadow: 0 0.1em 0.4em rgba(51,9,3,.2);
	border: none;
	background: white;
	outline: none;
	-webkit-appearance: none;
}
.fq-comment input[type="text"].am-round::-webkit-input-placeholder {
 color:#646464;
}
.fq-send {
	width: 4em;
	background: #21C087;
	color: white;
	box-shadow: 0 0.1em 0.4em rgba(51,9,3,.2);
	-webkit-box-shadow: 0 0.1em 0.4em rgba(51,9,3,.2);
	border: none;
	outline: none;
}
.fq-comment-list {
	z-index: 100;
}
.fq-comment-list span {
	background: rgba(0,0,0,0.5);
	color: white;
	padding: 0.25em 0.5em;
	border-radius: 0.3em;
	max-width: 12em;
	word-wrap: break-word;
	white-space: normal;
	word-break: break-all;
}
.js_chat_fixed {
	display: inline-block;
}
.comment {
	width: 15em;
	position: relative;
	background: #a0e75a;
	border-radius: 0.3em;
	padding: 0.75em;
}
.comment:after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 14px;
	right: -16px;
	border: solid 8px;
	border-color: transparent transparent transparent #a0e75a;
	font-size: 0;
	transform: rotate(0deg);
}.quan{
	line-height: 1.25em;
}
.quan .emP{
	background: #f60;
	color: #fff;
	float: left;
	line-height: 1.5em;
	text-align: center;
	width: 1.5em;
	height: 1.5em;
	font-size: 0.875em;
	font-style: normal;
	border-radius: 0.2em 0 0 0.2em;
}
.quan .spanP{
	color: #f60;
	background: #fff;
	border: 0.0625em solid #f60;
	float: left;
	border-left: 0 none;
	font-size: 0.875em;
	text-align: center;
	height: 1.5em;
	line-height: 1.5em;
	padding: 0 0.5em;
	border-radius: 0 0.2em 0.2em 0;
	margin-right: 0.8em;
}
.quan .spanA{
	color: #f60;
	font-size: 1.25em;
}
.tuijianP{
	font-size: 0.875em; 
	color: #666; 
	line-height: 1.5em;
	overflow: hidden;
}
.backindex{
	position: fixed;
	bottom: 10%;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	width: 5em;
	text-align: center;
	height: 2em;
	line-height: 2em;
	border-radius: 1em 0 0 1em;
	font-size: 0.875em;
}
.am-padding-sm p{
	padding-top:0.5em;
}
.am-padding-vertical{
	display: inline-block;
	width: 100%;
	padding: 2em 0;
}