.goods {
    height: 1.3rem;
    margin: 0.1rem 0; padding: 0.1rem;
    background: #fff;
    border-radius: 0.05rem;
}
.goods-img {
    position: relative;
    width: 1.3rem; height: 1.3rem;
    margin-right: 0.1rem;
    border-radius: 0.05rem;
    background: #eee;
    overflow: hidden;
}
.goods-img img {
    width: 100%;
    background: #eee;
}
.goods-title {
    height: 0.44rem;
    font-size: 0.16rem; line-height: 0.22rem; color: #000;
}
.iconfont.tmall{
    color: #d81e06;
}
.iconfont.taobao{
    color: #f60;
}
.goods-shop {
    height: 0.18rem;
    margin-bottom: 0.13rem;
    font-size: 0.13rem; line-height: 0.2rem; color: #999;
}
.goods-price {
    height: 0.28rem;
    margin-bottom: 0.05rem;
    font-size: 0.8em; color: #999;
}
.goods-price-mark {
    margin-right: 0.1rem;
    color: #FF2E45;
}
.goods-price-mark strong {
    font-size: 0.2rem; font-weight: normal;
}
.goods-quan {
    height: 0.2rem;
    position: relative;
    margin-right: 0.1rem; padding: 0 0.03rem;
    font-size: 0.13rem; line-height: 0.2rem; color: #fff;
    background: #FF3249;
    border-radius: 0.04rem;
}
.goods-quan.qianggou {
    display: inline-block;
    margin-right: 0; margin-left: 0.1rem;
    font-size: 0.13rem;
}
.goods-quan::after {
    content: '';
    width: 0.06rem; height: 0.06rem;
    position: absolute; right: -0.03rem; top: 0.07rem;
    background: #fff;
    border-radius: 0.03rem;
}
span.quan-left {
    margin-right: 0.04rem; margin-left: 0.04rem; padding-right: 0.06rem;
    border-right: 0.01rem dotted rgba(255,255,255,0.9);
}
span.quan-right {
    padding-right: 0.08rem;
}
.goods-yongjin {
    height: 0.2rem;
    padding: 0 0.03rem;
    font-size: 0.13rem; line-height: 0.2rem; color: #C58C28;
    background: #F9F3D9;
    border-radius: 0.04rem;
}
.goods-yongjin.qianggou {
    height: 0.2rem;
    position: absolute; bottom: 0.06rem; left: 0.06rem;
    padding: 0 0.03rem;
    font-size: 0.13rem; line-height: 0.2rem;
}
/*考拉*/
.goods-fuwu {
    max-width: 50%;
    margin-left: 0.05rem; padding: 0 0.02rem;
    font-size: 0.13rem; color: #f10;
    border: 0.01rem solid;
    border-radius: 0.03rem;
}
/*限时抢购*/
.startzhezhao {
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    font-size: 0.18rem; line-height: 1.3rem; text-align: center; color: #fff;
    background: rgba(0,0,0,0.5);
}
/*爆款排行*/
.twohours{
    width: 100%; height: 0.3rem;
    position: absolute; bottom: 0;
    font-size: 0.12rem; color: #fff; line-height: 0.32rem; text-align: center;
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    overflow: hidden;
}
.twohours em{
    font-size: 1.1em; color: #fe374d; font-style: normal;
}
/*视频播放按钮*/
.video-btn {
    width: 0.5rem; height: 0.5rem;
    position: absolute; top: 50%; left: 50%;
    margin-top: -0.25rem; margin-left: -0.25rem;
    border: 0.02rem solid hsla(0,0%,100%,.5);
    border-radius: 50%;
    background: rgba(0,0,0,.4);
}
.video-btn img {
    display: block;
    min-height: 0;
    width: 0.25rem; height: 0.25rem;
    margin: auto; padding-left: 0.04rem;
    background: rgba(0,0,0,0);
}
