 <widget id="A6011338960845"  version="0.0.1">

    <name>幸运券</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">



    </author>

    <content src="index.html" />

    <access origin="*" />

    <preference name="pageBounce" value="false"/>

    <preference name="appBackground" value="rgba(255,255,255,1)"/>

    <preference name="windowBackground" value="rgba(255,255,255,1)" />

    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

    <preference name="hScrollBarEnabled" value="false"/>

    <preference name="vScrollBarEnabled" value="false"/>

    <preference name="autoLaunch" value="false"/>

    <preference name="fullScreen" value="false"/>

    <preference name="autoUpdate" value="false" />

    <preference name="smartUpdate" value="false" />

    <preference name="debug" value="true"/>

    <preference name="statusBarAppearance" value="true"/>

    <permission name="readPhoneState" />

    <permission name="camera" />

    <permission name="record" />

    <permission name="location" />

    <permission name="fileSystem" />

    <permission name="internet" />

    <permission name="bootCompleted" />

    <permission name="hardware" />

    <preference name="forbiddenSchemes" value="" />

    <preference name="querySchemes" value="wechat,weixin,taobao,alipays,tbopen,tmall,openApp.jdMobile,mqzone,mqq,pinduoduo,jdlogin,openapp.jdmobile,vipshop,kaola" />

    <preference name="appCertificateVerify" value="false"/>

    <preference name="urlScheme" value="luckquan" id="scheme"/>

    <feature name="wx">
        <param name="urlScheme" value="wx93f609a6fd558cb4" id="wx_urlScheme"/>
        <param name="apiKey" value="wx93f609a6fd558cb4" id="wx_apiKey"/>
        <param name="apiSecret" value="2ac9786c505f2e6e6bad140ba8a39afd"/>
    </feature>
    <feature name="QQPlus">
        <param name="urlScheme" value="tencent101785812" id="QQPlus_urlScheme" />
        <param name="apiKey" value="101785812" id="QQPlus_apiKey" />
    </feature>
    <feature name="ajpush">
        <param name="app_key" value="3f68886e0701fb62a455b500" id="ajpush_app_key" />
        <param name="channel" value="push" />
    </feature>
    <feature name="uexJD">
        <param name="urlScheme" value="sdkback242810fb7fa44f5ea382916be28d9f58" id="uexJD_urlScheme"/>
        <param name="JDKey" value="242810fb7fa44f5ea382916be28d9f58" id="uexJD_JDKey" />
        <param name="JDSecret" value="xxx" />
    </feature>
    <!-- <feature name="uexJDZH">
        <param name="urlScheme" value="sdkback453ee1cba9314c9f991496404d6c49ff"/>
        <param name="JDZHKey" value="453ee1cba9314c9f991496404d6c49ff" />
        <param name="JDZHSecret" value="e8b391a30a3941f7b0749e20bf2f7c2d" />
    </feature> -->
    <feature name="uexBcWeb">
        <param name="urlScheme" value="tbopen27842501" id="uexBcWeb_urlScheme"/>
        <param name="BcKey" value="tbopen27842501://" id="uexBcWeb_BcKey" />
        <param name="BcSecret" value="xxx" />
    </feature>



    <!--custom-->
 </widget>
