<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <script src="../../script/api.js"></script>
    <style>
        .green {
            color: #0F0
        }

        .red {
            color: #F00
        }

        .aui-list-item-title {
            display: flex
        }

        .aui-list-item-media img.icon {
            width: 70%;
            display: block;
            margin: auto;
        }

    </style>
</head>

<body>

    <div class="aui-content aui-margin-b-15">
        <ul class="aui-list aui-list-in" id="shuju">

        </ul>
    </div>

</body>

</html>
<script>
    function tpl(){/*
        <% for(var i = 0; i < this.length; i++) {var data = this[i]; %>
        <li class="aui-list-item" tapmode onclick="caozuo('<%data.web%>',<%data.bind%>)">
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-title">
                    <div class="aui-list-item-media"><img class="icon" src="<%data.icon%>"></div>
                    <div class="aui-list-item-inner"><%data.title%></div>
                </div>
                <div class="aui-list-item-right"><%data.note%></div>
            </div>
        </li>
        <% } %>
        */;}

    var apiName = {
        'weixin': '微信登录',
        'qq': 'QQ登录',
        'tb': '淘宝登录'
    };
    var apiData = {};

    function caozuo(web,bind){
        if (bind == 1) {
            openConfirm('提醒', '解除绑定？', '', function(data) {
                var url = createUrl('user', {
                    'fun': 'unbindApi',
                    'web': web
                });
                getJson(url, '数据提交中', function(data) {
                    if (data.s == 1) {
                        toast(data.r,1000);
                        reStart();
                    } else {
                        openAlert(data.r);
                    }
                });
            })
        } else {
            apilogin.run(web);
        }
    }

    function setApiData() {
        if(HUNXIAO==1){
            var tag='-'+APP_TAG;
        }else{
            var tag='';
        }
        var data = [];
        for (var i in apiData) {
            var web = i;
            var webname = apiData[i];
            if (webname != '') {
                var obj = {
                    'title': apiName[web],
                    'icon': "../../img/" + web +tag+ ".png",
                    'note': '<span clas="green">已绑定</span>',
                    'web': web,
                    'bind': 1
                };
            } else {
                var obj = {
                    'title': apiName[web],
                    'icon': "../../img/" + web + ".png",
                    'note': "<span class='red'>未绑定</span>",
                    'web': web,
                    'bind': 0
                };
            }
            data.push(obj);
        }

        var html=barretTpl(tpl,data);
        $('#shuju').html(html);
    }

    function start() {
        var url = createUrl('user', {
            'fun': 'bingApiList'
        });
        getJson(url, '数据获取中', function(data) {
            if (data.s == 1) {
                for (var i in appInfo.applogin) {
                    if(appInfo.applogin[i]==1){
                        apiData[i] = data.r[i];
                    }
                }
                setApiData();
            } else {
                openAlert(data.r);
            }
        });
    }

    var apilogin = {
        web: '',
        webid: '',
        webname: '',
        unionid: '',
        login: function(web, webid, webname, avatar, unionid) {
            unionid = unionid || '';
            avatar = avatar || '';
            if (web != '' && webid != '' && webname != '') {
                this.web = web;
                this.webid = webid;
                this.webname = webname;
                this.unionid = unionid;
                var url = createUrl('user', {
                    'fun': 'bindApi',
                    'web': web,
                    'webid': webid,
                    'webname': webname,
                    'avatar': avatar,
                    'unionid': unionid
                });
                getJson(url, '数据获取中', function(data) {
                    if (data.s == 1) {
                        apiData[web] = webname;
                        setApiData();
                    } else {
                        openAlert(data.r);
                    }
                });
            }
        },
        run: function(code) {
            this[code]();
        },
        weixin: function() {
            var _this = this;
            var wxKey=api.loadSecureValue({sync: true,key: 'wx_key'});
            toastOpen('启动微信',30000);
            var wx = api.require('wx');
            wx.auth({
                apiKey:wxKey,
                scope: 'snsapi_userinfo'
            }, function(ret, err) {
                if (ret.status) {
                    var url = createUrl('api', {
                        'fun': 'weixinCodeToToken',
                        'appid': wxKey,
                        'code': ret.code
                    });
                    getAjax(url, function(data) {
                        if (data.s == 1) {
                            wx.getUserInfo({
                                accessToken: data.r.access_token,
                                openId: data.r.openid
                            }, function(ret, err) {
                                toastClose();
                                if (ret.status) {
                                    if (typeof ret.unionid != 'undefined' && ret.unionid != '' && typeof ret.nickname != 'undefined' && ret.nickname != '') {
                                        _this.login(appInfo.WEIXIN_TAG, ret.unionid, ret.nickname, ret.headimgurl, ret.unionid);
                                    } else {
                                        openAlert('数据错误，请从新登录');
                                    }
                                } else {
                                    openAlert(err.code);
                                }
                            });
                        } else {
                            openAlert(data.r);
                        }
                    },'');
                } else {
                    openAlert(err.code);
                }
            });
        },
        tb: function() {
            var _this = this;
            toastOpen('淘宝登陆');
            baichuan.login(function(data) {
                if(typeof appInfo.tbloginForWeb!='undefined' && appInfo.tbloginForWeb==1){
                    setPageParam('from','login');
                    ddevent.url(URL+'/plugin.php?mod='+APP_FRAME+'&act=goods&fun=login&do=go');
                }else{
                    if (typeof data.nick != 'undefined') {
                        _this.login('tb', data.openId, data.nick, data.avatarUrl);
                    } else {
                        toastOpen('登陆取消');
                    }
                }
            }, 1);
        },
        qq: function() {
            var _this = this;
            toastOpen('QQ登录',30000);
            var qq = api.require('QQPlus');
            qq.login(function(re, err) {
                getAjax('https://graph.qq.com/oauth2.0/me?access_token=' + re.accessToken + '&unionid=1', function(re1) {
                    try {
                        re1 = re1.replace('callback(', '').replace(');', '');
                        re1 = trim(re1);
                        re1 = JSON.parse(re1);
                        if (typeof re1.unionid != 'undefined') {
                            unionid = re1.unionid;
                        } else {
                            unionid = '';
                        }
                    } catch (e) {
                        unionid = '';
                    }
                    qq.getUserInfo(function(re2, err) {
                        toastClose();
                        if (re2.status) {
                            if (typeof re.openId != 'undefined' && re.openId != '') {
                                if(typeof re2.info=='string'){
                                    re2.info=JSON.parse(re2.info);
                                }
                                _this.login('qq', re.openId, re2.info.nickname, re2.info.figureurl_qq_2, unionid);
                            } else {
                                openAlert('数据错误，请从新登录');
                            }
                        } else {
                            api.alert({ msg: err.msg });
                        }
                    });
                },'',0,'txt');
            });
        },
        sina: function() {
            var _this = this;
            toastOpen('微博登陆', -1);
            var u = URL.replace(/\/$/, '');
            uexSina.login(sina_appid, u);
            uexSina.cbLogin = function(opCode, dataType, data) {
                uexSina.getUserInfo();
                uexSina.cbGetUserInfo = function(opCode, dataType, data) {
                    data = JSON.parse(data);
                    if (data.id > 0) {
                        _this.login('sina', data.id, data.name);
                    }
                    toastClose();
                }
            };
            if (get('plat_form') == 0) { /*苹果需要点两次才启动，所以多加一个触发*/
                setTimeout(function() {
                    uexSina.login(sina_appid, u);
                }, 1000);
            }
        }
    };

    ready(function() {
        setTitle('登录绑定');
        start();
        setBounce(reStart);
    }, 1);
</script>
