<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <script src="../../script/api.js"></script>
    <style>
    html, body {
        background: #f5f5f5;
    }
    #ddlanmu .cf_xl .kedian a.cur {
        border: red 1px solid;
        color: red
    }

    #ddlanmu .cf_xl .kedian a:hover {
        border: red 1px solid;
        color: red
    }

    #ddlanmu .cf_xl {
        background: #fff;
        width: 100%;
        border-bottom: 1px solid #ccc;
        position: absolute;
        left: 0;
        z-index: 99;
        padding: 8px 0;
        padding-bottom: 0px;
        overflow-x: hidden;
        overflow-y: visible
    }

    #ddlanmu .cf_xl a {
        padding: 6px 20px;
        color: #333;
        text-align: center;
        display: inline-block;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: 13px;
        margin-left: 3%
    }

    #ddlanmu .cf_xl a.more {
        border: none;
        font-weight: 700;
        padding: 0;
        display: block;
        text-align: left;
        padding: 0 5px
    }

    #ddlanmu .cf_xl a {
        font-size: 13px;
        color: #666;
        text-decoration: none;
        cursor: pointer
    }

    .hidden {
        display: none;
    }
    </style>
</head>

<body style="background-color:#f5f5f5; font-size:16px; ">
    <div id="wrap">
        <div style="position:fixed; width:100%; top:0; z-index:9" id="ddlanmu">
            <div id="cf_xl" class="cf_xl hidden">
                <div class="kedian" id="cid_arr"></div>
            </div>
        </div>

        <div id="goods" style="font-size:0.85em"></div>
        <div id="loading"><span class="loading-img"></span>数据加载中</div>
    </div>
</body>

</html>
<script type="text/javascript">
    var iosAudit = 0,q = '', cid = 0,isCoupon=0,sort='', cat = [], _user = {
        'level': 0,
        'type': 0
    };


    function catClick(_cid) {
        cid=_cid;
        var data={'q':q,'cid':cid,'sort':sort,'pagesize':20};
        var url=buildUrl('jd_goods',data);
        getJdData.reset();
        getJdData.go(url);
    }

    function quanClick(_isCoupon){
        isCoupon=_isCoupon;
        searchJd.reset();
        searchJd.go();
    }

    function sortClick(_sort) {
        sort = _sort;
        if(q==''){
            var data={'q':q,'cid':cid,'sort':sort,'pagesize':20};
            var url=buildUrl('jd_goods',data);
            getJdData.reset();
            getJdData.go(url);
        }else{
            searchJd.reset();
            searchJd.go(q);
        }
    }

    function goodsJdTpl0() {
        /*<% for(var i = 0; i < this.length; i++) {var data = this[i]; %>
                <div class="item-thumbnail" style="position: relative; width:49.25%; float:left; height:17em; padding-bottom:0.5em; margin-bottom:0.5em;padding-top:0.5em" tapmode onClick="ddevent.jdView('<%data.data_id%>')">
                <div style="display: -webkit-box; padding-left:0.5em;">
                <div style="height:calc(100vw*0.4); width:100%;position: relative;">
                <img style="display:block; width:100%; height:100%" class="lazyimg" data-img="<%data.img%>?imageView2/2/w/260/h/260">
                </div>
                </div>
                <div style="position:relative; margin-left:1em; margin-top:10px;">
                <div><span style="color:#333;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;">
                <span class="iconfont" style="color:red;">&#xe677;</span>&nbsp;
                <%data.title%></span></div>
                <div style="float:left">
                <% if(0<data.price_jian){%>
                <div style="width:auto;display:inline-block">
                <div style="background: #ff464e;border: 1px solid #ff464e;border-radius: 3px;display: flex;line-height: 1.5;">
    <div style="padding: 0 5px;text-align: center;color:#ffffff">券</div><div style="background: #ffffff;color:#ff464e;padding: 0 5px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;"><%data.price_jian%>元</div>
    </div></div>
                <%}%>
                <div style="font-size:0.9em; margin-top:0.6em"></div>
                <div style="margin-bottom: -0.3em;margin-top: 0.3em;"><span style="color:#FF464E; font-size:0.9em">￥</span><b style="font-size:1.53em;color:#FF464E;"><%toFixed(data.quan_price,1)%></b>
                <%if(data.quan_price<data.price){%>
                <del style="color:#999;font-size:0.8em">￥<%data.price%></del>
                <%}%>
                </div>
                </div>
                <div style="text-align:right">

                <%if(typeof data.shopName!='undefined' && data.shopName!=''){%>
                <div style="font-size:0.875em; color:#FF464E; margin-bottom:0.1em;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 7em;"><%data.shopName%></div>
                <%}%>
                <div style="font-size:0.875em; color:#FF464E; margin-bottom:0.1em;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 7em;"></div>
                <div><span style="background:#FF464E; padding:0 0.25em; color:#FFF; font-size:0.875em;border-radius: 0.3em;height: 2em;display: inline-block;line-height: 2.2em;">
                <%if(iosAudit==1){%>立即购<%}else{%>奖励<%}%>
                <%if(iosAudit==0 && appInfo.show_jfb_level<=user.level){%>
                <%toFixed(data.fanli_bl*appInfo.jd_fxbl[user.type]*data.quan_price)%>
                <%}%>
                </span></div>
                </div>
                </div>
                </div>
                <% } %>
                */
        ;
    }
    function goodsJdTpl() {
        /*<% for(var i = 0; i < this.length; i++) {var data = this[i]; %>
                <div class="item-thumbnail" style="position: relative; float:left; width:45%;margin-left:3.5%; background:#fff; padding-bottom:0.5em; border-bottom:0.0625em #F4F4F4  solid; margin-bottom:0.9em; border-radius:10px; overflow:hidden;" tapmode onClick="ddevent.jdView('<%data.data_id%>')">
                <div style="display: -webkit-box;">
                <div style="height:100%; width:100%;position: relative;">
                <div class="imgsize" >
                <img class="lazyimg img" id="<%data.id%>"  data-img="<%data.img%>?imageView2/2/w/260/h/260">
                </div>
                </div>
                </div>
                <div style="position:relative;margin-left:0.5em;margin-bottom:0.5em; width:95%;">
                <div><span style="color:#333;overflow: hidden;text-overflow:  ellipsis;height:36px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2; font-size:13px;padding-top:5px; font-weight:500;margin-bottom:20px;">
                <span class="iconfont" style="color:red;">&#xe677;</span>&nbsp;
                <%data.title%></span></div>
                <div style="">
                <div style="height:2em;font-size:0.875em; line-height:2em; margin-top:0.6em;color:#666;">
                <% if(0<data.sell){%>
                热销:<b><%data.sell%></b>件
                <% } else {%>
                &nbsp;
                <%}%>
                </div>
                <div style="margin-bottom: -0.3em;margin-top: 0.3em;"><span style="color:#FF464E; font-size:0.75em">￥</span><b style="font-size:1.53em;color:#FF464E;"><%toFixed(data.quan_price,1)%></b>
                <%if(0<data.price){%>
                <del style="color:#999;font-size:0.75em">￥<%toFixed(data.price,1)%></del>
                <%}%>
                </div>
                </div>
                <div style="position:absolute; right:0.4em; bottom:0.3em; text-align:right">
                <% if(0<data.price_jian){%>
                <div style="width:auto;display:inline-block;">
                <div style="background: #ff464e;border: 1px solid #ff464e;border-radius: 3px;display: flex;line-height: 1.5; margin-top:0.5em;font-size:0.875em;">
    <div style="padding: 0 5px;text-align: center;color:#ffffff">券</div><div style="background: #ffffff;color:#ff464e;padding: 0 5px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;"><%data.price_jian%>元</div>
    </div></div>
                <%}%>
                <div><span style="background:#feebca; padding:0 0.5em; color:#9b6a32; font-size:0.875em;border-radius: 0.3em;height: 1.5em;display: inline-block;line-height: 1.5em; margin-top:0.65em;">
                <%if(iosAudit==1){%>立即购<%}else{%>奖励<%}%>
                <%if(iosAudit==0 && appInfo.show_jfb_level<=user.level){%>
                <%toFixed(data.fanli_bl*appInfo.jd_fxbl[user.type]*data.quan_price)%>
                <%}%>
                </span></div>
                </div>
                </div>
                </div>
                <% } %>
                */
        ;
    }

    //获取平台数据
    var getJdData = {
        'lock': 0,
        'infinite':0,
        'page': 0,
        'url': '',
        'id':'goods',
        'reset':function(){
            $('#'+this.id).html('');
            this.page=0;
            this.lock=0;
            this.infinite=0;
        },
        'go': function(url, callback) {
            var _this = this;
            if (_this.page == 0 && _this.infinite==0) {
                _this.infinite=1;
                infinite(function() {
                    _this.go();
                });
            }
            url = url || '';
            if (url == '') {
                url = _this.url;
            } else {
                _this.url = url;
            }
            if (_this.lock == 1) {
                return false;
            }
            _this.page++;
            url = url + '&page=' + _this.page;
            _this.lock = 1;
            if (q != '') {
                setTitle(q);
            } else if (cid > 0) {
                for (var i in cat) {
                    if (cat[i].cid == cid) {
                        setTitle(cat[i].title);
                    }
                }
            } else {
                setTitle('京东商品');
            }
            getAjax(url, function(data) {
                _this.lock = 0;
                var count = size(data.data.data);
                //if(_this.page>5){count=0;}
                if (count > 0) {
                    _this.goodsSet(data.data.data);
                    if(count<20){
                        $api.dom('#loading').innerHTML = '————我是有底线的————';
                    }
                } else {
                    _this.lock = 1;
                    if (_this.page == 1) {
                        $api.dom('#goods').innerHTML = emptyData('暂无数据');
                        $api.dom('#loading').innerHTML = '';
                    } else {
                        $api.dom('#loading').innerHTML = '————我是有底线的————';
                    }
                    api.removeEventListener({
                        name: 'scrolltobottom'
                    });
                }
                if(typeof callback=='function'){
                    callback(data.data.data);
                }
            }, '', 3600);
        },
        'goodsSet':function(data) {
            for(var i in data){
                data[i].fanli_bl=toFixed(data[i].commission*0.9);
            }
            var html = barretTpl(goodsJdTpl, data);
            $api.append($api.dom('#'+this.id), html);
            $('.lazyimg').picLazyLoad();
            api.parseTapmode();
        }
    };
    //获取京东接口数据
    var searchJd = {
        'lock': 0,
        'page': 0,
        'url': '',
        'id':'goods',
        'infinite':0,
        'reset':function(){
            $('#'+this.id).html('');
            this.page=0;
            this.lock=0;
        },
        'go': function() {
            var _this = this;
            if (_this.page == 0 && _this.infinite==0) {
                _this.infinite=1;
                infinite(function() {
                    _this.go();
                });
            }
            if (_this.lock == 1) {
                return false;
            }
            _this.page++;
            _this.lock = 1;
            setTitle(q);
            if(q.length<10){
                isCoupon=1;
            }else{
                isCoupon=0;
            }
            var url=createUrl('jd','search',{'q':q,'page':_this.page,'isCoupon':isCoupon});
            getAjax(url,function(data){
                _this.lock = 0;
                var count = size(data.r);
                if (count > 0) {
                    _this.goodsSet(data.r);
                    if(count==1){
                        toastOpen('单品直达',500,function(){
                            ddevent.jdView(data.r[0].data_id);
                        });
                    }
                    if(count<20){
                        $api.dom('#loading').innerHTML = '————我是有底线的————';
                    }
                } else {
                    _this.lock = 1;
                    if (_this.page == 1) {
                        $api.dom('#goods').innerHTML = emptyData('暂无数据');
                        $api.dom('#loading').innerHTML = '';
                    } else {
                        $api.dom('#loading').innerHTML = '————我是有底线的————';
                    }
                    api.removeEventListener({
                        name: 'scrolltobottom'
                    });
                }
            },'',3600);
        },
        'goodsSet':function(data) {
            var html = barretTpl(goodsJdTpl, data);
            $api.append($api.dom('#'+this.id), html);
            $('.lazyimg').picLazyLoad();
        }
    };

    function reStart(_q){
        _q=_q||'';
        if(_q!=''){
            q=_q;
        }
        clear(2);
        getJdData.reset();
        searchJd.reset();
        start();
    }

    function start() {
        q = api.pageParam.q || '';
        cid = api.pageParam.cid || 0;
        cat = api.pageParam.cat;
        if (user == false) {
            user = _user;
        }
        iosAudit = iosShenhe();
        setBounce(reStart);
        if(q==''){
            var url=buildUrl('jd_goods',{'q':q,'cid':cid,'sort':sort,'pagesize':20});
            getJdData.go(url);
        }else{
            searchJd.go(q);
        }
    }

    ready(function() {
        start();
        api.addEventListener({
            name: 'jdSearch'
        }, function(ret, err){
            if (ret) {
                 q = ret.value.q;
                 searchJd.reset();
                 searchJd.go();
            }
        });
    }, 2);
</script>
