<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <script src="../../script/api.js"></script>
    <style>
        .shuju_load {
            font-size: 0.875em
        }

        .text_alert .alert .wrapper {
            padding: 1.3em 0.8em;
            text-align: center;
            width: 90%;
            margin: auto
        }

        .item-text {
            padding: 0.9em;
            text-align: left;
            font-size: 1em;
            color: #000;
            line-height: 1.5;
            background-color: #FFF6F2;
            border: 1px dashed #FE814B;
            display: block;
            width: 90%;
            height: 10em;
            margin: auto
        }

        .text_alert .alert .bar {
            padding-top: 1em;
        }

        .text_alert .alert .bar .bar1 {
            width: 25%;
            text-align: center;
            display: inline-block
        }

        .text_alert .alert .bar .bar1 img {
            display: block;
            width: 80%;
            margin: auto
        }

        #xiaobashou {
            position: fixed;
            left: 0;
            top: 6em;
            z-index: 99999;
            background-color: #D6D6D6;
            padding: 0.4em 0.6em;
            border-radius: 0 20% 20% 0;
            font-size: 0.8em;
            color: #FFFFFF;
        }
    </style>
</head>

<body style="font-size:16px">
    <div style="visibility: hidden;" id="page_index">
        <!--<div id="xiaobashou" ontouchstart="appcan.touch()" onclick="closeWin()">关闭</div>-->
        <div style="background: #fff; width: 100%; display: inline-block; position: fixed; z-index: 900; left: 0; top: 0; padding: 0.5em 0;">
            <div class="fq-online am-padding-xs am-cf" id="js_online_img" style="z-index: 200;">
                <!--个人信息-->
                <div class="fq-online-person" id="js_own_info">
                    <div class="fq-person-name am-inline am-padding-right-xs"> <span class="am-text-sm">游客</span> </div>
                </div>
                <!--个人信息-->
                <div class="fq-online-img am-inline-block" style="width: 2em;">
                    <div class="am-inline-block" id="js_user_headimg"></div>
                </div>
                <div class="fq-background-white fq-online-num am-round am-padding-horizontal-xs am-text-sm am-fr"> <i class="iconfont icon-yanjing">&#xe612;</i> <span class="fq-color-red am-text-xs" id="js_online_num"></span> </div>
            </div>
        </div>

        <!--已更新-->
        <div class="fq-online-update am-text-xs am-padding-xs am-hide" id="js_has_new_item"> <span><i class="am-icon-angle-double-down am-text-sm am-margin-horizontal-xs"></i>已更新 <span class="fq-colo-green" id="js_new_item">0</span>个商品 </span>
        </div>

        <!--已更新-->
        <div id="js_main" style="padding-bottom:3em">
            <div class="fq-online-loading fq-text-white am-text-center am-text-xs" id="js_more_item_top" style="display: none;z-index: 5"> <span class="am-round am-padding-vertical-xs am-padding-horizontal-sm">商品加载中...</span> </div>
            <div class="fq-broadcast" id="js_studio_box">
                <div class="fq-goods shuju_load" id="js_studio_item">

                </div>
            </div>
            <div class="fq-online-loading fq-text-white am-text-center am-text-xs" id="js_more_item_foot" style="display: none"> <span class="am-round am-padding-vertical-xs am-padding-horizontal-sm">商品加载中...</span> </div>
        </div>

        <!--评论功能-->
        <div class="fq-comment am-vertical-sm am-text-sm" id="shurukuang">
            <div class="fq-comment-send am-padding-left-sm js_talk_box">
                <form onSubmit="return chat()" style="width: calc(100% - 7em);">
                    <input id="js_chat" onclick="jianpan()" type="text" class="am-round am-padding-vertical-xs am-padding-horizontal-sm" placeholder="聊点什么吧..." />
                </form>
                <span class="iconfont" style="font-size:2.2em; color:#090" onClick="chat();">&#xe617;</span>
                <span class="iconfont" style="font-size:2.2em; color:#F60" onClick="sou();">&#xe633;</span>
                <!--<button class="fq-send am-round am-padding-xs" onClick="chat();" style="width:2.2em">聊</button>
    <button type="button" class="fq-send am-round am-padding-xs" onClick="sou();" style="width:2.2em; background:#F60">淘</button>-->
            </div>
        </div>

    </div>
    <script>
        var maxId = 0;
        var minId = 0;
        var interval = 1000 * 60 * 2;
        var avatar = '';
        var appLogo = '';
        var getGoods = {
            'data': {}
        };
        var tupianHeight = 'auto';

        function xiala() {
            setTimeout(function() {
                jiazai(minId, 3);
            }, 1000);
        }

        function shizhong() {
            jiazai(maxId, 1, function() {
                setTimeout(function() {
                    goEnd();
                }, 500);
                setOnlineNUM();
                setTimeout(function() {
                    shizhong();
                }, interval);
            });
        }

        function goEnd() {
            var c = window.document.body.scrollHeight;
            console.log(c);
            window.scroll(0, c);
        }

        function start() {
            setTitle('直播间');
            $('#page_index').css('visibility', '');
            shizhong();

            getAjax(buildUrl('get_avatar'), function(data) {
                var avatarArr = data.data;
                avatar = avatarArr[0];
                var html = '';
                for (var i in avatarArr) {
                    html += '<img style="display: inline-block; width:2em; height:2em" class="am-fr am-round" src="' + avatarArr[i] + '"/>';
                }
                $('#js_own_info').append(html);
            }, '');
            setBounce(xiala);
        }

        function huifu(q) {
            qqAi(q, function(data) {
                var content = data.data.answer;
                var tpl = '<div class="am-cf am-padding-vertical-sm am-padding-horizontal-xs js_item"><div class="am-cf"><div class="fq-online-moderator am-fl am-padding-right"> <img src="' + appLogo +
                    '"> </div><div class="fq-goods-massage fq-background-white am-fl"> <span class="border_triangle"></span><div class="am-padding-sm" style="padding:0.5em"> <p class="tuijianP">' + content + '</p></div></div></div></div>';
                $('#js_studio_item').append(tpl);
                goEnd();
            });
        }

        function send(content) {
            var tpl = '<div onclick="goList(\'' + content + '\')" class="am-cf am-padding-vertical-sm am-padding-horizontal-xs js_item">' + '<div class="fq-goods-time fq-text-white am-padding-bottom am-center am-text-xs am-text-center">' +
                '<span class="am-padding-horizontal-xs">' + api_get_time() + '</span></div><div class="am-padding-bottom am-cf" style="padding-bottom:0">' + '<div class="fq-online-moderator am-fr am-padding-left">' + '<img src="' + avatar +
                '"/></div>' + '<div class="fq-goods-img am-padding-0 am-fr"><div class="comment">' + content + ' </div></div></div></div>';
            $('#js_studio_item').append(tpl);
        }

        function goList(q) {
            set('q', q);
            ddevent.openPage('goods', 'list');
        }

        function api_get_time() {
            var timestamp = new Date().getTime();
            var time = new Date(timestamp);
            var hours = time.getHours();
            var minutes = time.getMinutes();
            var seconds = time.getSeconds();
            if (hours < 10) {
                hours = '0' + hours;
            }
            if (minutes < 10) {
                minutes = '0' + minutes;
            }
            if (seconds < 10) {
                seconds = '0' + seconds;
            }
            return hours + ':' + minutes + ':' + seconds;
        }

        function chat() {
            var content = $('#js_chat').val();
            content = content.replace(/\"|\'|\t|\r\n|\r|\n/g, '');
            $('#js_chat').val('');
            if (content.length == 0) {
                return;
            }
            send(content);
            huifu(content);
            return false;
        }


        function sou() {
            var content = $('#js_chat').val();
            content = content.replace(/\"|\'|\t|\r\n|\r|\n/g, '');
            $('#js_chat').val('');
            if (content.length == 0) {
                return;
            }
            send('[淘]' + content);
            var url = createUrl('goods', {
                'fun': 'allSearch',
                'q': content,
                'page_size': 1
            });
            getJson(url, '数据获取中', function(data) {
                var data = data.r;
                var myDate = new Date();
                for (var i in data) {
                    var row = data[i];
                    row.time = myDate.format('YYYY-mm-dd HH:ii:ss');
                    row.data_id = row.num_iid;
                    row.price_jian = row.coupon;
                    row.img = row.pict_url + '_400x400.jpg';
                    row.quan_price = toFixed(row.zk_final_price - row.coupon);
                    row.content = '';
                    data[i] = row;
                    getGoods.data[row.data_id] = row;
                }
                var html = barretTpl(goodsTpl, data);
                if (html == '') {
                    huifu(content);
                } else {
                    $('#js_studio_item').append(html);
                }
                goEnd();
            });
            return false;
        }


        function setOnlineNUM() {
            var num = $('#js_online_num').text() || '';
            if (num == '') {
                var timestamp = new Date().getTime();
                var time = new Date(timestamp);
                var hours = time.getHours();
                var minutes = time.getMinutes();
                num = hours * 300 + minutes * 5;
            }
            num = parseInt(num);
            num += parseInt(Math.random() * 10);
            $('#js_online_num').text(num);
        }

        function goodsTpl() {
            /*<% for(var i = 0; i < this.length; i++) {var data = this[i]; %>
                <div class="am-cf am-padding-vertical-sm am-padding-horizontal-xs js_item">
                            <div class="fq-goods-time fq-text-white am-padding-bottom am-center am-text-xs am-text-center">
                                <span class="am-padding-horizontal-xs"><%data.time%></span>
                            </div>
                            <div class="am-cf">
                                <div class="fq-online-moderator am-fl am-padding-right">
                                    <img src="<%appLogo%>"/>
                                </div>

                                <div class="fq-goods-massage fq-background-white am-fl">
                                    <span class="border_triangle"></span>
                                    <div class="am-padding-sm">
                                        <img class="tupian" onclick="ddevent.taobaoView('<%data.data_id%>')" src="<%data.img%>" style="width: 100%;height:<%tupianHeight%>"/>
                                        <p style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"><%data.title%></p>
                                        <p class="quan">
            							    <%if(0<data.price_jian){%>
                                            <em class="emP">券</em><span class="spanP"><%data.price_jian%>元</span>
                                            券后价 <span class="spanA"><%data.quan_price%></span>
            								<%}else{%>
            								促销价 <span class="spanA"><%data.quan_price%></span>
            								<%}%>
                                        </p>
                                        <div style="clear:both"></div>
                                        <p class="tuijianP"><%data.content%></p>
                                    </div>
                                    <div class="fq-online-buy am-padding-horizontal-sm">
                                     <%if(iosShenhe()==0){%><button type="button" class="fq-copy-password am-text-sm" onclick="ddevent.taobaoShare('<%data.data_id%>')" >分享好友</button><%}%>
                                        <a onclick="goodsObj.goTb('<%data.data_id%>')"><span class="fq-color-glay am-text-sm"><i class="iconfont icon-gouwuche02 am-margin-right-xs"></i>淘宝购买</span></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <% } %>*/
            ;
        }

        function getWenan(data) {
            var wenan = data.title + "\r\n";
            if (data.price_jian > 0) {
                wenan += "【在售价】" + data.discount_price + "\r\n";
                wenan += "【券后价】" + data.quan_price + "\r\n";
            } else {
                wenan += "【原价】" + data.price + "\r\n";
                wenan += "【促销价】" + data.discount_price + "\r\n";
            }
            if (data.content != '') {
                wenan += data.content + "\r\n";
            }
            wenan += "【打开手淘购买】" + data.kouling + "\r\n";
            wenan += data.short_click_url;
            return wenan;
        }

        function shareWenan(data_id) {
            goodsObj.click(data_id, function(data) {
                var wenan = getWenan(data);
                ddLayer.open('<textarea class="item-text">' + wenan +
                    '</textarea> <div class="bar"><div class="bar1" onclick="wenan(\'taobao\')" id="wenan_taobao"><img src="img/tb.png">淘宝</div><div class="bar1" onclick="wenan(\'weixin\')" id="wenan_weixin"><img src="img/weixin.png">微信</div><div class="bar1" onclick="wenan(\'mqq\')" id="wenan_qq"><img src="img/qq.png">QQ</div><div onclick="wenan(\'fuzhi\')" id="wenan_fuzhi" class="bar1"><img src="img/fuzhi1.png">复制</div></div>',
                    '商品分享文案', '复制文案，打开手机淘宝即可领取优惠券');
            });
        }

        function wenan(code) {
            clipboardSet($('.item-text').val());
            if (code == 'fuzhi') {
                toastOpen('复制成功');
            } else {
                openApp(code + '://', '复制成功，启动app');
            }
            layer.closeAll();
        }

        var goodsObj = {
            'data': {},
            'click': function(data_id, callback) {
                var user = checkLogin(1);
                if (user == false) {
                    return false;
                }
                this.set(data_id);
                var _this = this;

                var url = createUrl('goods', {
                    'fun': 'wenan',
                    'iid': data_id
                });
                getAjax(url, function(data) {
                    if (data.s == 1) {
                        _this.data.url = data.r.url;
                        _this.data.short_click_url = data.r.shortUrl;
                        _this.data.kouling = data.r.kouling;
                    } else {
                        openAlert(data.r);
                    }
                    if (typeof callback == 'function') {
                        callback(_this.data);
                    }
                })
            },
            'goTb': function(data_id) {
                var user = checkLogin(1);
                if (user == false) {
                    return false;
                }
                var url = createUrl('goods', {
                    'fun': 'clickUrl',
                    'iid': data_id,
                    'ver':1
                });
                getAjax(url, function(data) {
                    if(data.s==2){
                        qudaoShouquan(data);
                    }
                    else if (data.s == 1) {
                        var url = data.r.url;
                        if (appInfo.baichuan == 0) {
                            url=url.replace('https','taobao');
                            openApp(url);
                        } else {
                            baichuan.open(url);
                        }
                    } else {
                        openAlert(data.r);
                    }
                });
            }
        };

        function maopao(data) {
            var swap;
            for (i = 0; i < data.length - 1; i++) {
                for (j = 0; j < data.length - i - 1; j++) {
                    if (data[j].id > data[j + 1].id) {
                        swap = data[j];
                        data[j] = data[j + 1];
                        data[j + 1] = swap;
                    }
                }
            }
            return data;
        }

        function jiazai(id, type, callback) {
            $shujuLoad = $('#js_studio_item');
            var url = buildUrl('zhibo', {
                'id': id,
                'type': type,
                'compoundImg': 1,
                'ajax': 1
            });
            if (type == 1) {
                $('#js_more_item_foot').show();
            } else {
                $('#js_more_item_top').show();
            }
            getAjax(url, function(data) {
                if (data.s == '1') {
                    for (var i in data.data) {
                        data.data[i].data_id = data.data[i].num_iid;
                    }
                    if (type==1) {
                        data.data = maopao(data.data);
                    }
                    var html = barretTpl(goodsTpl, data.data);
                    if (type == 1) {
                        $shujuLoad.append(html);
                    } else {
                        var idname = 'inner' + getPID();
                        $shujuLoad.prepend('<div id="' + idname + '" style="visibility:hidden">' + html + '</div>');
                        var $t = $('#' + idname);
                        temp_h = $t.outerHeight();
                        window.scroll(0, temp_h);
                        $t.css('visibility', 'visible');
                    }
                    if (tupianHeight == 'auto') {
                        tupianHeight = $shujuLoad.find('.tupian').eq(0).css('width');
                    }
                    var list = [];
                    for (var i in data.data) {
                        getGoods.data[data.data[i].data_id] = data.data[i];
                        list.push(data.data[i].id);
                    }
                    list.sort();
                    var min = list[0];
                    var max = list.pop();
                    if (max > maxId) {
                        maxId = max;
                    }
                    if (minId == 0) {
                        minId = min;
                    } else if (min < minId) {
                        minId = min;
                    }
                }
                if (type == 1) {
                    $('#js_more_item_foot').hide();
                } else {
                    $('#js_more_item_top').hide();
                }
                if (typeof callback == 'function') {
                    callback();
                }
            }, '');
        }

        function qqAi(q, callback) {
            var session = 10000;
            var appid = '1106605809';
            var appkey = 'NYPfR0p9VDvuPKnl';
            var t = time();
            var p = {
                'app_id': appid,
                'nonce_str': t,
                'session': session,
                'time_stamp': t,
                'question': q
            };
            p = objKeySort(p);
            var _p = p;
            _p.app_key = appkey;
            var str = ddSerialize(_p).replace('&', '');
            var sign = api.require('signature').md5Sync({
                'data': str
            });
            p.sign = sign;
            var url = 'https://api.ai.qq.com/fcgi-bin/nlp/nlp_textchat?' + ddSerialize(p).replace('&', '');
            getAjax(url, function(data) {
                callback(data);
            });
        }

        var winH = 0;
        var jici = 0;

        function jianpan() {
            var t=time(-1);
            var inputField = api.require('inputField');
            inputField.open({
                sendImg: 'widget://res/img/wancheng.png',
                bgColor:'#efefef',
                borderColor:'#999999',
                autoFocus: true
            }, function(ret, err) {
                if (ret) {
                    var v=ret.msg;
                    $('#js_chat').val(v);
                    inputField.close();
                }
            });

            // inputField.setInputFieldListener(function(ret, err) {
            //     if (ret) {
            //         if(ret.chatViewH<=1 && time(-1)-t>500){
            //             inputField.close();
            //         }
            //     }
            // });
        }

        ready(function(){
            appLogo = appInfo.logo;
            var head = document.getElementsByTagName('head')[0];
            loadStyle('../../css/amazeui_min.css',head);
            loadStyle('../../css/broadcast.css',head,function(){
                start();
            });
        },1);


    </script>
</body>
