<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <style>
        .tuijian span {
            color: #D4D3D3
        }

        .tuijian span.xuanzhong {
            color: #F60
        }
        /*底部*/

        .lq_footer {
            height: 50px;
            line-height: 50px;
            background: #fff;
            width: 100%;
            border-top: 1 solid #e8e8e8e;
            position: fixed;
            bottom: 0;
            z-index: 10;
            display: flex
        }

        .lq_footer .footer_left {
            flex: 1;
            background: #F1ECEC;
            text-align: center;
            font-size: 16px;
        }

        .lq_footer .footer_left.fen {
            background: #fe4b68;
            color: #fff;
        }

        .lq_footer .footer_left.cur {
            opacity: 0.5
        }
    </style>
</head>

<body>
    <div id="wrap">
        <div id="goods"></div>
        <div id="loading"><span class="loading-img"></span>数据加载中</div>
    </div>
    <div style="height:58px">&nbsp;</div>
    <footer class="lq_footer" id="lq_footer">
        <a class="footer_left" onClick="yixuan()">已选商品：<span id="yixuan">0</span></a>
        <a class="footer_left fen" onClick="tuiguang()">批量推广</a>
        <a onClick="help()" style="width:3em; text-align: center"><span style="font-size: 15px" class="iconfont">&#xe62a;</span></a>
    </footer>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script>
    var user = {
            'level': 0,
            'type': 0
        },
        iidArr = [];
    var goodsData = [];
    var tpltmp = '';
    var iosAudit = 0;

    function shareAdd(num_iid) {
        var has = 0;
        var suoyin = 0;
        for (var i in goodsData) {
            if (goodsData[i].num_iid == num_iid) {
                has = 1;
                suoyin = i;
                break;
            }
        }
        if (tpltmp != '') { /*说明当前是查看已选择商品*/
            openConfirm('提醒', '是否要删除？', '否,是', function() {
                if (has == 1) {
                    goodsData.splice(i, 1);
                    $('#num_iid_' + num_iid).remove();
                    $('#yixuan').html(size(goodsData));
                }
            });
        } else {
            if (has == 1) {
                goodsData.splice(i, 1);
                $('#num_iid_' + num_iid).find('.tuijian span').removeClass('xuanzhong');
            } else {
                for (var i in getData.data) {
                    if (getData.data[i].num_iid == num_iid) {
                        goodsData.push(getData.data[i]);
                        break;
                    }
                }
                $('#num_iid_' + num_iid).find('.tuijian span').addClass('xuanzhong');
            }
            $('#yixuan').html(size(goodsData));
        }
    }

    function help() {
        openAlert('每次最多可选择20个商品进行批量推广');
    }

    function goodsTpl() {
        /*<% for(var i = 0; i < this.length; i++) {var data = this[i]; %>
                <div id="num_iid_<%data.num_iid%>" class="item-thumbnail" style="position: relative;display:flex; padding-bottom:0.5em; border-bottom:0.0625em #F4F4F4  solid; margin-bottom:0.5em;padding-top:0.5em" tapmode onClick="shareAdd('<%data.num_iid%>',this)">
                <div class="tuijian" style="position:absolute; left:0; top:0; color:#F00; font-size:1.8em; z-index:2"><span class="iconfont xuan">&#xe602;</span></div>
                <div style="display: -webkit-box; padding-left:0.5em">
                <div style="height:9em; width:9em;position: relative;">
                <%if(data.video!='' && data.video!=null){%>
                <div style="border-radius: 50%;position: absolute;width: 4em;height: 4em;background: rgba(0,0,0,.4);top:2.5em;left:2.5em;border: 2px solid hsla(0,0%,100%,.5);">
                <img src="<%window.staticDir%>/img/fq_play.png" style="position: relative;width: 1.5em;height: 1.5em;border: 0 none;left: 1.35em;top: 1.25em;">
                </div>
                <%}%>
                <img style="display:block; width:100%; height:100%" class="lazyimg" id="<%data.id%>" onerror="$(this).attr('src','../../img/blank.png')" data-img="<%data.img%>_200x200.jpg">
                </div>
                </div>
                <div style="flex: 1; position:relative; margin-left:1em">
                <div><span style="color:#333;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;">
                <%if(data.laiyuan_type==1){%>
                <span class="iconfont" style="color:#F60;">&#xe637;</span>&nbsp;
                <%}else if(data.laiyuan_type==2){%>
                <span class="iconfont" style="color: red;">&#xe603;</span>&nbsp;
                <%}%>
                <%data.title%></span></div>
                <div style="position:absolute; left:0; bottom:0;">
                <% if(0<data.price_jian){%>
                <div style="width:auto;display:inline-block">
                <div style="background: #ff464e;border: 1px solid #ff464e;border-radius: 3px;display: flex;line-height: 1.5;">
    <div style="padding: 0 5px;text-align: center;color:#ffffff">券</div><div style="background: #ffffff;color:#ff464e;padding: 0 5px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;"><%data.price_jian%>元</div>
    </div></div>
                <%}%>
                <div style="font-size:0.9em; margin-top:0.6em">热销<%data.sell%>件</div>
                <div style="margin-bottom: -0.3em;margin-top: 0.3em;"><span style="color:#FF464E; font-size:0.9em">￥</span><b style="font-size:1.53em;color:#FF464E;"><%toFixed(data.quan_price,1)%></b> <del style="color:#999;font-size:0.8em">￥<%toFixed(data.price,1)%></div>
                </div>
                <div style="position:absolute; right:0.5em; bottom:0em; text-align:right">
                <div style="font-size:0.9em; color:#FF464E; margin-bottom:0.1em;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 8.5em;"><%data.nick%></div>
                <div><span style="background:#FF464E; padding:0 0.6em; color:#FFF; font-size:0.9em;border-radius: 0.3em;height: 2em;display: inline-block;line-height: 2.2em;">
                <%if(iosAudit==1){%>立即购<%}else{%>奖励<%}%>
                <%if(iosAudit==0 && 0<user.id && appInfo.show_jfb_level<=user.level || user.type==4){%>
                <%toFixed(data.fanli_bl*siteInfo.fxbl[user.type]*data.quan_price/100,2)%>
                <%}%>
                </span></div>
                </div>
                </div>
                </div>
                <% } %>
                */
        ;
    }

    function goodsSet(data) {
        var html = barretTpl(goodsTpl, data);
        $api.append($api.dom('#goods'), html);
        picLazyLoad();
        api.parseTapmode();
    }

    var getData = {
        'lock': 0,
        'page': 0,
        'url': '',
        'data': [],
        'go': function(url) {
            var _this = this;
            if (_this.page == 0) {
                infinite(function() {
                    _this.go();
                });
            }
            url = url || '';
            if (url == '') {
                url = _this.url;
            } else {
                _this.url = url;
            }
            if (_this.lock == 1) {
                return false;
            }
            _this.page++;
            url = url + '&page=' + _this.page;
            _this.lock = 1;
            getAjax(url, function(data) {
                _this.lock = 0;
                var count = size(data.data.goods);
                if (count > 0) {
                    setTitle(data.r);
                    goodsSet(data.data.goods);
                    var row = {};
                    for (var i in data.data.goods) {
                        row = data.data.goods[i];
                        _this.data['id' + row.num_iid] = row;
                    }
                } else {
                    _this.lock = 1;
                    //$api.css($api.dom('#loading'),'display:none');
                    $api.dom('#loading').innerHTML = '————我是有底线的————';
                    api.removeEventListener({
                        name: 'scrolltobottom'
                    });
                }
            });
        }
    };

    function picLazyLoad() {
        $('.lazyimg').picLazyLoad();
    }

    function start() {
        getData.go(buildUrl('goods', {
            'pagesize': 20
        }));
    }

    function yixuan() {
        if (size(goodsData) == 0) {
            toastOpen('请先选择商品');
            return false;
        }
        var $goods = $('#goods');
        var $lq_footer = $('#lq_footer');
        if (tpltmp == '') {
            tpltmp = $goods.html();
            var a = barretTpl(goods, goodsData);
            $goods.html(a);
            loadLazyImg();
            $goods.find('.tuijian').remove();
            $lq_footer.find('.footer_left').eq(1).removeClass('fen');
            $lq_footer.find('.footer_left').eq(0).addClass('fen');
            getData.loading = 1;
        } else {
            $goods.html(tpltmp);
            tpltmp = '';
            $('#goods').find('.tuijian span').addClass('weixuanzhong');
            for (var i in goodsData) {
                $('#num_iid_' + goodsData[i].num_iid).find('.tuijian span').removeClass('weixuanzhong');
            }
            $lq_footer.find('.footer_left').eq(0).removeClass('fen');
            $lq_footer.find('.footer_left').eq(1).addClass('fen');
            getData.loading = 0;
        }
    }

    function tuiguang() {
        var user = checkLogin(1);
        if (user == false) {
            return false;
        }
        var data = [];
        var vo = {};
        for (var i in goodsData) {
            vo = {};
            vo.title = goodsData[i].title;
            vo.img = goodsData[i].img;
            vo.laiyuan_type = goodsData[i].laiyuan_type;
            vo.discount_price = goodsData[i].discount_price;
            vo.iid = goodsData[i].num_iid;
            vo.sell = goodsData[i].sell;
            vo.nick = goodsData[i].nick;
            vo.discount_price = goodsData[i].discount_price;
            vo.price_jian = goodsData[i].price_jian;
            data.push(vo);
        }
        var url = createUrl('goods', {
            'fun': 'qunfa'
        });
        postAjax(url,{'data': JSON.stringify(data)},function(data){
            if (data.s == 0) {
                openAlert(data.r);
            } else {
                set('fixedUrl', 1);
                ddevent.url(data.r);
            }
        },'批量生成中')
    }

    ready(function() {
        start();
        setTitle('推广赚');
        setBounce(start);
        iosAudit = iosShenhe();
    }, 2);
</script>

</html>
